body{
  /* background-image:url(images/orange-watercolor-background_1116-200.jpeg); */
  background: linear-gradient(180deg, rgba(187, 109, 20, 0.781), rgba(233, 167, 92, 0.781));
}

main{
  border-style:outset;
  border-width: 7px;
  border-color: rgba(219, 139, 47, 0.781);
  background: linear-gradient(0deg, rgb(233, 122, 49),rgb(110, 19, 80));
  margin-top: 5px;
  margin-bottom: 5px;
}
header{
  padding: 10px;
  background-size: cover;
  font-family: 'IM Fell English', serif;
  min-height: fit-content;
}

h1{
  text-align: center;
}
#section1{
  border-style:outset;
  border-width: 7px;
  border-color: rgba(219, 139, 47, 0.781);
  padding: 10px;
  
}

header::after{
  content: '';
  clear: both;
}

nav{
  color: black;
  /* align-items: center;
  align-content: center; */
  margin: auto;
}

li a {
  margin: 10px;
  line-height: 100%;
  width: auto;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgb(73, 80, 80);
  height: auto;
}
#navBar {
  display: flex;
  justify-content:space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul {
  display: block;
  margin: 0;
  overflow: hidden;
}


.jobs{
  list-style-type: circle;

}

#nickId{
margin:2rem;
}

#aboutMe{
  display: flex;
  align-items: center;
}



/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  transition: all .4s ease 0s;
}

main{
  border: 10px;
  border-color: orangered;

}
#bio{
  border-style:outset;
  border-width: 7px;
  border-color: rgba(219, 139, 47, 0.781);

  margin-top: 5px;
  margin-bottom: 5px;
}
#education{
  border-style:outset;
  border-width: 7px;
  border-color: rgba(219, 139, 47, 0.781);
  margin-top: 5px;
  margin-bottom: 5px;  
}

#goals{
  border-style:outset;
  border-width: 7px;
  border-color: rgba(219, 139, 47, 0.781);
  margin-top: 5px;
  margin-bottom: 5px;  
}

#career{
  border-style:outset;
  border-width: 7px;
  border-color: rgba(219, 139, 47, 0.781);
  margin-top: 5px;
  margin-bottom: 5px;  
}

#lastSection{
  border-style:outset;
  border-width: 7px;
  border-color: rgba(219, 139, 47, 0.781);
  margin-top: 5px;
  margin-bottom: 5px;
}

#top10{
  border-style:outset;
  border-width: 7px;
  border-color: rgba(219, 139, 47, 0.781);
  margin-top: 5px;
  margin-bottom: 5px;
}

#questions{
  font-size: medium;
}